#div-cards {
  display: flex;
  flex-direction: row;
  width: 700px;
  height: 300px;
  margin: 5px auto;
}

.cards {
  height: 100%;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
  margin: 1px;
  flex: 1;
}
.cards:hover {
  flex: 3;
}


.card1,
.card2,
.card3,
.card4,
.card5 {
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat;
  object-fit: scale-down; */
}

.card1 {
  background-image: url('/grid/img/logo-dio.jpg');
}
.card2 {
  background-image: url('/grid/img/cachorro.png');
}
.card3 {
  background-image: url('/grid/img/logo-dio.jpg');
}
.card4 {
  background-image: url('/grid/img/cachorro.png');
}
.card5 {
  background-image: url('/grid/img/logo-dio.jpg');
}
.card6 {
  background-image: url('/grid/img/cachorro.png');
}