@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Poppins", sans-serif;
}
header {
  border-bottom: 1px solid black;
}
#container {
  display: flex;
  flex-wrap: wrap;
  /* gap: 4px; */
}

.cards {
  background-color: #e9e9e9;
  padding: 5px;
  margin: 5px;
}

.exemplo {
  width: 200px;
  height: 200px;
  background-color: palevioletred;
  border-color: blue;
  border-style: solid;
  /* background-image: url('../assets/img/logo-dio.jpg');
  background-size: cover; */
}

#valor-a {
  border-width: 10px;
}

#valor-a-b {
  border-width: 10px 4px;
}

#valor-a-b-c {
  border-width: 15px 5px 30px;
}

#valor-a-b-c-d {
  border-width: 10px 4px 15px 25px;
}

#border-thin {
  border-width: thin; /* equivale a 1px */
}

#border-medium {
  border-width: medium; /* equivale a 3px */
}

#border-thick {
  border-width: thick; /* equivale a 5px */
}