@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Poppins", sans-serif;
}
header {
  border-bottom: 1px solid black;
}
#container {
  display: flex;
  flex-wrap: wrap;
  /* gap: 4px; */
}

.cards {
  background-color: #e9e9e9;
  padding: 5px;
  margin: 5px;
}

.exemplo {
  width: 200px;
  height: 200px;
  background-color: palevioletred;
  /* background-image: url('../assets/img/logo-dio.jpg');
  background-size: cover; */
}

#exemplo-1 {
  border-color: purple;
  border-width: 10px;
  border-style: solid;
}

#exemplo-2 {
  border: 10px solid #008000;
}

#exemplo-3 {
  border-top: 10px solid red;
  border-right: 10px solid #008000;
  border-bottom: 10px solid blue;
  border-left: 10px solid black;
}

#exemplo-4 {
  border-top-style: double;
  border-top-width: 10px;

  border-bottom-style: double;
  border-bottom-width: 10px;
}